* {
  font-family: 'Karla', sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.875rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quizz--question {
  max-width: 31.25rem;
  font-weight: 700;
  font-size: 1rem;
  color: #293264;
  text-align: center;
}

.quizz--answers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.9375rem;
}

.quizz--choice {
  border: 0.0496rem solid #4D5B9E;
  border-radius: 0.5rem;
  max-width: 6.25rem;
  padding: 0.3125rem;
  height: fit-content;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  
}

.quizz--separator {
  width: 24.9375rem;
  height: 0rem;  
  border: 0.0496rem solid #DBDEF0;
}

button {
  width: 7.5rem;
  height: 2.1875rem;
  background: #4D5B9E;
  border-radius: 0.625rem;
  font-weight: 600;
  font-size: 0.8rem;
  color: #F5F7FB;
  border: none;
}

button:active {
  box-shadow: inset 0.3125rem 0.3125rem 0.125rem #293264;
}

.footer {
  margin-top: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem
}
.welcome-screen{
  margin-top: 20%;
}

.game-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3125rem;
  text-align: center;
  color: #293264;
}

.game-description {
  width: 28.125rem;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #293264;
  margin-bottom: 1.875rem;
}

.blob-blue {
  position: fixed;
  left: 0rem;
  bottom: 0rem;
  z-index: -1;
}

.blob-yellow {
  position: fixed;
  right: 0rem;
  top: 0rem;
  z-index: -1;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 31.25rem) {
  main, .game-description, .quizz, .quizz--separator {
    width: 100%;
  }

  .quizz--answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem
  }
}